
@model CompanyDtosForinsertion        



<div class="text-center">

    <div class="diaplay display-6">  ŞİRKET OLUŞTUR  </div>
</div>


<form method="post" asp-action="Creat" enctype="multipart/form-data">       

   


  

    <diV class="form-group">
       <label asp-for="CompanyName">    </label>

      <input asp-for="CompanyName" class="form-control" />
      </diV>

        

    <diV class="form-group my-3">
        
        <div btn-group>
       <button class="btn btn-primary" type="submit"> 
           <i class="fa fa-save"></i>  
           OLUŞTUR
          </button>
          <a asp-action="Index" class="btn btn-outline-primary">
              <i class="fa fa-list"></i>
              ŞİRKET LİSTESİ  </a>
    </diV>
    
    </diV>
</form>