@model Companys

<div class="row">

    <div class="col-md-12">

        <div class="text-center">
            <h6 class="display-6">
                @Model.CompanyName
            </h6>

        
            
        </div>
    </div>

</div>





<div class="btn-group">

    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">anasayfaya git  </a>
    





</div>


